{% extends 'base.html' %}
{% load staticfiles %}
{load bootstrap3}
{% block content %}
 <link rel="stylesheet" href="../static/css/basenews.css">
<div class="container">
 <div class="row">
   <div class="col-md-4">
     <style>
     img.radius {
     border-radius: 70%;
     }
     </style>
     
    {%for i in profile%}
     
    <img  height="150" width="150" src="{{i.profile_photo.url}}" class="radius" alt="Image" class="img-responsive">
    {%endfor%}
     <p> Bio: {{i.bio}}</p>
     <span>{{user}}</span>  
   </div>
   <div class="profile-user-settings">
     <h1 class="profile-user-name">{{profile.identity}}</h1>
    
     <button class="btn profile-edit-btn"><a href="/edit-profile">Edit profile</a> </button>
     <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true" data-toggle="modal" data-target="#settings"></i></button>
  <a class="btn btn-info" href="{%url 'image'%}">Post Image</a>
    </div>
   <div class="profile-stats">
     <ul>
       <li><span class="profile-stat-count"></span> posts</li>
       <li><span class="profile-stat-count">800</span> followers </li>
       <li><span class="profile-stat-count">900</span> following </li>
     </ul>
   </div>
 </div>
 <br><br>
 <div class="row">
   <h2 class="text-center"> Uploaded Photos</h2>
   {% for instagram_item in image %}
   <div class="col-md-4">
     <a href=""><img src="{{instagram_item.image.url}}" class="img-responsive" alt="Image"></a>
   </div>
   {% endfor%}
 </div>
</div>
{% endblock %}

