{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if profile%}
      <h2>Found {{ profile|length}} of searched term {{message}}</h2>
    {% else %}
      <h2> Make sure you have edited a profile after signing up then view it</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if profile %}
    {%for i in profile%}
      <div class="col-sm-6 col-md-4">
          <h1>{{profile.identity}}</h1>
          <img height="250" class="img-fluid" src="{{i.profile_photo.url}}" alt="">
          <h3>{{i.bio}}</h3>
      </div>
      {%endfor%}
  
  {% endif %}
  </div>
</div>
{% endblock %}